@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container-fluid projects-section" style="text-align:center">
    <h4>Aaand another "locked" page. The other links still work though!</h4>
    <p class="buttons">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="About">About me</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Projects">Projects</a>
    </p>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>
