@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="col-lg-3 mx-auto projects-section" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
    <h2 class="mb-4">Hey there!</h2>
    <p id="introContent">
        Welcome to my website!
        </br>My name is Lyubo and this is my portfolio-thing
        It's a very lightly modified version of the Bootstrap Greyscale template
        (<a href="https://startbootstrap.com/previews/grayscale/">link</a>)
    </p>
</div>
