<div class="col-lg-3 mx-auto projects-section">
    <h2 class="mb-4">Hey there!</h2>
    <p>
        Welcome to my website!
    </p>
    <p> My name is Lyubo and this is my portfolio-thing</p>
    <p>It's a very lightly modified version of the Bootstrap Greyscale template</p>
    <p>(<a href="https://startbootstrap.com/previews/grayscale/">link</a>)</p>
</div>
