@model lyubomirp.Models.ProgramsList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid projects-section" style="text-align:center">
    <h2>Edit</h2>

    <h4>ProgramsList</h4>
    <hr />
    <div class="row">
        <div class="container-fluid" style="max-width:30%;">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="programsAndIDEs" class="control-label"></label>
                    <input asp-for="programsAndIDEs" class="form-control" />
                    <span asp-validation-for="programsAndIDEs" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
